# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS-specific files
.DS_Store
.DS_Store?
._*
ehthumbs.db
Thumbs.db

# Editor/IDE configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Project-specific uploads / media / generated audio
/backend/uploads/
*.webm
